.next
node_modules
pnpm-store
.pnpm-store
dist
build
*.log
.env
.env.*
.env.local
.env.development.local
.env.production.local
.vscode
.git
.gitignore
coverage
.DS_Store
.turbo
.vercel
npm-debug.log
yarn-error.log
